<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center">
                <div>
                    <el-select
                            v-model="params.geo"
                            clearable filterable
                            placeholder="Country">
                        <el-option
                                v-for="item in countries"
                                :key="item.code"
                                :label="item.country"
                                :value="item.code">
                        </el-option>
                    </el-select>
                </div>
                <div class="ml-2">
                    <el-input v-model="params.search" clearable placeholder="keywords"></el-input>
                </div>

                <div  class="ml-3">
                    <el-button type="primary"
                               size="small"
                               @click="search">Search</el-button>
                </div>

            </div>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="offerList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe>
                <el-table-column
                        label="ID"
                        width="80">
                    <template slot-scope="scope">{{ scope.row.id }}</template>
                </el-table-column>
                <el-table-column
                        label="Name"
                        width="140">
                    <template slot-scope="scope">
                        <a :href="`/offers/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Package Name"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.package_name?scope.row.package_name:'---' }}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="geo"
                        label="GEO"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="OS"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.os ==='ios'?'iOS':'Android' }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Cap"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="!!scope.row.daily">{{ scope.row.daily | thousandSeparator }}</span>
                        <span v-else>---</span>

                    </template>
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="Price"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="Status"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-html="getOfferStatus(scope.row)"></span>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OffersMine",
        computed:{

        },
        data(){
            return{
                offerList: [],
                multipleSelection: [],
                loading:false,
                params:{
                    page:1,
                    paginationPerPage:20,
                    geo:'',
                    search:'',
                },
                selectedAffiliate:[],
                paginationTotal:10,
                countries:[],
            }
        },
        methods:{
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchOffers();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchOffers();
            },
            search(){
                this.params.page = 1;
                this.fetchOffers();
            },
            fetchOffers(){
                this.loading = true;
                this.$api.get(`/customers/${this.currentUserId}/offers`,{
                    params:this.params
                })
                    .then(res=>{
                        this.offerList = res.data.data;
                        this.params.page = res.data.current_page;
                        // this.paginationPerPage = res.data.meta.pagination.per_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            getOfferStatus(offer){
                if(offer.applies.length>0){
                    if(!offer.applies[0].status && !offer.applies[0].updated_at){
                        return `<span class="label" style="background:#e6b400">Waiting for approval</span>`;
                    }
                    if(!offer.applies[0].status && offer.applies[0].updated_at){
                        return `<span class="label" style="background:#ff6100">Rejected</span>`;
                    }
                }

                if(!!offer.live){
                    return `<span class="label" style="background:#14c93b">Active</span>`;
                }
               return `<span class="label" style="background:#f56c6c">Closed</span>`;
            }
        },
        beforeMount() {
            this.fetchOffers();
        },
        beforeCreate(){
            this.$api.get("/countries/all")
                .then(res=>{
                    this.countries = res.data.data
                })
                .catch(error=>{

                });
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>

</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>