<template>
    <div>
        <div class="panel panel-default pa-4">
            <el-row class="show-page pt-3 pb-3" v-if="offer">
                    <el-col :span="14" class="pr-3">
                        <div class="show-page-container pt-4">
                            <div class="d-flex justify-space-between align-center">
                                <p class="show-page-title">Detail</p>
                            </div>

                            <div class="basic-info mt-4 pt-4 b-t d-flex">
                                <div class="img-cover">
                                    <img :src="coverUrl" :alt="offer.name">
                                </div>
                                <div class="basic-info-content pl-4">
                                    <el-row>
                                        <el-col :span="12" class="d-flex align-center show-field-item">
                                            <label>Offer Name:</label>
                                            <p class="ml-1">{{ offer.name }}</p>
                                        </el-col>
                                        <el-col :span="12" class="d-flex align-center show-field-item">
                                            <label>Package Name:</label>
                                            <p class="ml-1">{{ offer.package_name }}</p>
                                        </el-col>
                                    </el-row>

                                    <el-row class="mt-3">
                                        <el-col :span="12" class="d-flex align-center show-field-item">
                                            <label>Start Date:</label>
                                            <p class="ml-1">{{ offer.start_time }}</p>
                                        </el-col>
                                        <el-col :span="12" class="d-flex align-center show-field-item">
                                            <label>End Date:</label>
                                            <p class="ml-1">{{ offer.end_time }}</p>
                                        </el-col>
                                    </el-row>
                                    <el-row class="mt-3">
                                        <el-col :span="12" class="d-flex align-center show-field-item">
                                            <label>Price:</label>
                                            <p class="ml-1">{{ offer.price }}</p>
                                        </el-col>
                                        <el-col :span="12" class="d-flex align-center show-field-item">
                                            <label>Pay type:</label>
                                            <p class="ml-1">{{ offer.paytype }}</p>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>

                            <div>
                                <el-row class="mt-3">
                                    <el-col :span="12" class="d-flex align-center show-field-item">
                                        <label>Country:</label>
                                        <p class="ml-1">{{ offer.geo.join(',') }}</p>
                                    </el-col>
                                    <el-col :span="12" class="d-flex align-center show-field-item">
                                        <label>OS:</label>
                                        <p class="ml-1">
                                            <template v-if="offer.os === 'ios'">iOS</template>
                                            <template v-else>Android</template>
                                        </p>
                                    </el-col>
                                </el-row>
                                <el-row class="mt-3">
                                    <el-col :span="12" class="d-flex align-center show-field-item">
                                        <label>Cap:</label>
                                        <p class="ml-1">{{ offer.daily }}</p>
                                    </el-col>
                                    <el-col :span="12" class="d-flex align-center show-field-item">
                                        <label>Type:</label>
                                        <p class="ml-1">
                                            <template v-if="!offer.public*1">Need approve</template>
                                            <template v-else>Public</template>
                                        </p>
                                    </el-col>
                                </el-row>
                                <el-row class="mt-3">
                                    <el-col :span="12" class="d-flex align-center show-field-item">
                                        <label>Live:</label>
                                        <p class="ml-1">
                                            <template v-if="!!offer.live*1">Active</template>
                                            <template v-else>Closed</template>
                                        </p>
                                    </el-col>
                                </el-row>
                                <el-row class="mt-3">
                                    <el-col :span="24" class="d-flex align-center show-field-item">
                                        <label>Description KPI:</label>
                                        <p class="ml-1">{{ offer.mark }}</p>
                                    </el-col>
                                </el-row>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="10" class="pl-3">
                        <div class="show-page-container pt-4">
                            <div class="d-flex justify-space-between align-center">
                                <p class="show-page-title">Links</p>
                            </div>
                            <div class="mt-4 pt-4 b-t">
                                <el-row class="show-field-item">
                                    <label style="display: block;margin-bottom: 4px">Preview URL:</label>
                                    <el-col :span="24">
                                        <el-input :value="offer.preview_url"
                                                  class="edit-form-textarea"
                                                  :autosize="{ minRows: 2}"
                                                  type="textarea"
                                                  placeholder="Preview URL"></el-input>
                                    </el-col>
                                </el-row>
<!--                                <el-row class="mt-3 show-field-item">-->
<!--                                    <label style="display: block;margin-bottom: 4px" class="mb-1">Destination URL:</label>-->
<!--                                    <el-col :span="24">-->
<!--                                        <el-input :value="offer.link"-->
<!--                                                  class="edit-form-textarea"-->
<!--                                                  :autosize="{ minRows: 2}"-->
<!--                                                  type="textarea"-->
<!--                                                  placeholder="Destination URL"></el-input>-->
<!--                                    </el-col>-->
<!--                                </el-row>-->
                                <div class="mt-3 show-field-item">
                                    <label style="display: block;margin-bottom: 4px" class="mb-1">Tracking Link:</label>
                                    <el-input :value="myTrackingLink" placeholder="Tracking Link">
                                        <el-button slot="append"
                                                   type="primary"
                                                   :loading="isGetingLink"
                                                   icon="el-icon-refresh"
                                                   @click="getMyTrackingLink"></el-button>
                                    </el-input>
                                </div>
                            </div>
                        </div>
                    </el-col>
                </el-row>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OfferShow",
        props:{
            offer:{
                type:Object,
                require: true
            }
        },
        computed:{
            coverUrl(){
                if(this.offer.icon){
                    return this.offer.icon
                }
                return '/assets/img/userpic.gif'
            }
        },
        data(){
            return{
                isGetingLink:false,
                myTrackingLink:'',
            }
        },
        methods:{
            getMyTrackingLink(){
                if(!(this.offer.public*1)){
                    this.isGetingLink = true;
                    this.$api.get('/check',{
                        params:{
                            "aff_id":this.currentUserId,
                            "offer_id":this.offer.id
                        }
                    })
                        .then(res=>{
                            if(!!(res.data*1)){
                                this.generateLink();
                                return false;
                            }
                            this.$notify({
                                title: 'Error',
                                message: 'The offer needs to apply',
                                duration: 0
                            });
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: 'Failed to obtain tracking link, please contact your account manager',
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.isGetingLink = false;
                        })
                    return false;
                }
                this.generateLink();
            },
            generateLink(){
                if(this.offer.os === 'ios'){
                    this.myTrackingLink = `https://app.appone.link/tracking?_c_=${this.offer.id}&_u_=${this.currentUserId}&idfa={idfa}&imei={imei}&clickid={click_id}&ip={ip}&lang={lang}&ua={user_agent_urlencode}&callback={callback}`;
                    return false;
                }
                this.myTrackingLink = `https://app.appone.link/tracking?_c_=${this.offer.id}&_u_=${this.currentUserId}&gaid={gaid}&aaid={aaid}&pubid={pubid}&appid={appid}&clickid={click_id}&callback={callback}`
            }
        },
        beforeMount() {
        }
    }
</script>

<style scoped lang="scss">
    .basic-info{
        .img-cover{
            width: 120px;
            height: 120px;
            min-width: 120px;
            img{
                width: 100%;height: 100%;
                object-fit: cover;
            }
        }
        .basic-info-content{
            flex: 1 1 auto;
        }
    }
    .event-title{
        font-size: 16px;
        font-weight: bold;
    }
    .event-container{
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 20px 20px 0 20px;
    }
</style>