<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center">
                <div>
                    <el-select
                            v-model="params.geo"
                            clearable filterable
                            placeholder="Country">
                        <el-option
                                v-for="item in countries"
                                :key="item.code"
                                :label="item.country"
                                :value="item.code">
                        </el-option>
                    </el-select>
                </div>
                <div class="ml-2">
                    <el-input v-model="params.search" clearable placeholder="keywords"></el-input>
                </div>

                <div  class="ml-3">
                    <el-button type="primary"
                               size="small"
                               @click="search">Search</el-button>
                </div>

            </div>
            <div class="d-flex align-center">
                <el-button type="primary" size="small"
                           :disabled="canApply" @click="applyAction">Apply</el-button>
            </div>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="offerList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe
                    @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        label="ID"
                        width="80">
                    <template slot-scope="scope">{{ scope.row.id }}</template>
                </el-table-column>
                <el-table-column
                        label="Name"
                        width="140">
                    <template slot-scope="scope">
                        <a :href="`/offers/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Package Name"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.package_name?scope.row.package_name:'---' }}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="geo"
                        label="GEO"
                        width="100"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="OS"
                        width="100"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.os ==='ios'?'iOS':'Android' }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Cap"
                        width="80"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="!!scope.row.daily">{{ scope.row.daily | thousandSeparator }}</span>
                        <span v-else>---</span>

                    </template>
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="Price"
                        width="80"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="Type"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-tag effect="dark"
                                size="mini" v-if="!scope.row.public">Need approve</el-tag>
                        <el-tag effect="dark"
                                type="success"
                                size="mini"
                                v-else>Public</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <template v-if="!scope.row.public">
                            <el-button size="mini"
                                       type="primary"
                                       plain
                                       @click="handleApply(scope.$index, scope.row)">Apply</el-button>
                        </template>
                       <template v-else>
                           ---
                       </template>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OfferList",
        computed:{
            canApply(){
                if(this.multipleSelection.length>0){
                    return false;
                }
                return true;
            }
        },
        data(){
            return{
                offerList: [],
                multipleSelection: [],
                loading:false,
                params:{
                    page:1,
                    paginationPerPage:20,
                    geo:'',
                    search:'',
                    c_id:''
                },
                selectedAffiliate:[],
                paginationTotal:10,
                countries:[],
            }
        },
        methods:{
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            applyAction(){
                this.$confirm('Are you sure to continue?', 'Notification', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    let data = this.multipleSelection.map(item=>{
                        return{
                            "campaign_id":item.id,
                            "customer_id":this.currentUserId
                        }
                    });
                    this.postApply(data);
                });
            },
            handleApply(index, offer){
                this.$confirm('Are you sure to continue?', 'Notification', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    let data=[
                        {
                            "campaign_id":offer.id,
                            "customer_id":this.currentUserId
                        }
                    ];
                    this.postApply(data);
                })
            },
            postApply(data){
                this.$api.post('/apply',{
                    data:data
                })
                    .then(res=>{
                        this.$message({
                            message: 'Successful application',
                            type: 'success'
                        });
                        this.fetchOffers();
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchOffers();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchOffers();
            },
            search(){
                this.params.page = 1;
                this.fetchOffers();
            },
            fetchOffers(){
                this.loading = true;
                this.$api.get(`/customers/offers`,{
                    params:this.params
                })
                    .then(res=>{
                        this.offerList = res.data.data;
                        this.params.page = res.data.current_page;
                        // this.paginationPerPage = res.data.meta.pagination.per_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            }
        },
        beforeMount() {
            this.params.c_id = this.currentUserId;
            this.fetchOffers();
        },
        beforeCreate(){
            this.$api.get("/countries/all")
                .then(res=>{
                    this.countries = res.data.data
                })
                .catch(error=>{

                });
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>

</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>