<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center"
             style="background-color: #fff;">
            <el-form ref="filterForm" class="filterForm" style="width: 100%"
                     label-width="80px">
                <el-form-item label="Filter">
                    <el-row class="filter-row">
                        <el-col :span="6">
                            <el-select
                                    style="display: block;"
                                    v-model="showConfig.offers"
                                    multiple
                                    filterable
                                    remote
                                    reserve-keyword
                                    placeholder="Select offers"
                                    :remote-method="remoteOfferMethod"
                                    :loading="isSearchingOffer">
                                <el-option
                                        v-for="item in offers"
                                        :key="item.id"
                                        :label="item.name+'#'+item.id"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
                            <el-input v-model="showConfig.package_name" clearable placeholder="Package name"></el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="Range">
                    <el-date-picker
                            v-model="showConfig.filterRange"
                            type="daterange"
                            align="left"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            unlink-panels
                            range-separator="to"
                            start-placeholder="Start date"
                            end-placeholder="End date"
                            :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button size="small" type="primary" @click="handleFilter">Generate Report</el-button>
                </el-form-item>
            </el-form>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="reportList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe>
                <el-table-column
                        label="Offer name">
                    <template slot-scope="scope">
                        <a :href="`/offers/${scope.row.campaign.id}`" class="link">
                            {{ scope.row.campaign.name }}#{{ scope.row.campaign.id }}
                        </a>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Package Name"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.campaign.package_name?scope.row.campaign.package_name:'---' }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Clicks"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.tracking | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Conversion"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.callback | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Amount"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.payment | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="CR"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="scope.row.tracking*1">
                            {{(scope.row.callback*1/(scope.row.tracking*1)*100).toFixed(3) +'%' }}
                        </span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="showConfig.page"
                    :page-size="showConfig.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>



    </div>
</template>

<script>
    const delay = (function () {
        let timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms)
        }
    })();
    export default {
        name: "Report",
        computed:{
            disabledBlock(){
                if(this.multipleSelection.length>0){
                    return false
                }
                return true
            }
        },
        data(){
            return{
                reportList:[],
                loading:false,
                showConfig:{
                    filterRange:[],
                    package_name:'',
                    offers:[],
                    page:1,
                    paginationPerPage:20
                },
                paginationTotal:0,
                pickerOptions: {
                    shortcuts: [{
                        text: 'Last week',
                        onClick(picker) {
                            let weekOfday = parseInt(moment().format('d')); // 计算今天是这周第几天  周日为一周中的第一天
                            const start = moment().subtract(weekOfday + 6, 'days').format('YYYY-MM-DD'); // 周一日期
                            const end = moment().subtract(weekOfday, 'days').format('YYYY-MM-DD');// 周日日期
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last month',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last three months',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                offers:[],
                isSearchingOffer:false
            }
        },
        methods:{
            handleFilter(){
                this.showConfig.page = 1;
                this.fetchReport();
            },
            handleSizeChange(val){
                this.showConfig.page = 1;
                this.showConfig.paginationPerPage = val;
                this.fetchReport();
            },
            handleCurrentChange(val){
                this.showConfig.page = val;
                this.fetchReport();
            },
            fetchReport(){
                this.loading = true;
                this.$api.get(`/customers/${this.currentUserId}/report`,{
                    params:this.showConfig
                })
                    .then(res=>{
                        this.reportList = res.data.data;
                        this.showConfig.page = res.data.current_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            remoteOfferMethod(query){
                delay(()=>{
                    this.searchOffers(query);
                },600);
            },
            searchOffers(keyword){
                this.isSearchingOffer = true;
                this.$api.get(`/customers/${this.currentUserId}/offers/search`,{
                    params:{
                        search:keyword,
                        is_aff:true
                    }
                })
                    .then(res=>{
                        this.offers = res.data.data.data;
                    })
                    .finally(()=>{
                        this.isSearchingOffer = false;
                    })
            }
        },
        mounted(){
            this.showConfig.filterRange=[moment().format("YYYY-MM-DD"),moment().format("YYYY-MM-DD")]
        },
        beforeMount() {
            this.fetchReport();
            this.searchOffers('');
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>
    .filter-row{
        display: flex;
        align-items: center;
        margin-left: -6px;
        margin-right: -6px;
    }
</style>
<style lang="scss">
    .filterForm{
        .el-form-item__label{
            margin-bottom: 0;
            font-size: 16px;
            font-weight: bold;
        }
        label{
            margin-bottom: 0;
        }
        .el-date-editor .el-range-separator{
            padding: 0;
        }
    }
    .filter-row .el-col{
        padding-left: 6px;
        padding-right: 6px;
    }

</style>