@import "./show";


.mt-2{
  margin-top: 8px;
}
.mt-3{
  margin-top: 12px;
}
.mt-4{
  margin-top: 16px;
}
.mt-5{
  margin-top: 20px;
}
.mt-6{
  margin-top: 24px;
}

.mb-1{
  margin-bottom: 4px;
}
.mb-4{
  margin-bottom: 16px;
}

.ml-1{
  margin-left: 4px;
}
.ml-2{
  margin-left: 8px;
}
.ml-3{
  margin-left: 12px;
}

.pa-4{
  padding: 16px;
}
.pa-5{
  padding: 20px;
}

.pl-1{
  padding-left: 4px;
}
.pl-3{
  padding-left: 12px;
}
.pl-4{
  padding-left: 16px;
}

.pr-1{
  padding-right: 4px;
}
.pr-3{
  padding-right: 12px;
}
.pr-4{
  padding-right: 16px;
}

.pt-3{
  padding-top: 12px;
}
.pt-4{
  padding-top: 16px;
}


.pb-3{
  padding-bottom: 12px;
}
.pb-4{
  padding-bottom: 16px;
}


.d-flex{
  display: flex;
}


.justify-space-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}


.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}

.flex-wrap{
  flex-wrap: wrap;
}




.btn{
  font-weight: 700;
}
a.link{
  color: #409EFF;
}
.el-button{
  font-weight: bold!important;
}

p{
  margin-bottom: 0;
}
.el-form-item__label{
  font-size: 16px;
  font-weight: bold;
}