.show-page-container{
  border-top: 4px solid #dee5e7;
}
.show-field-item{
  label,p{
    margin-bottom: 0;
    font-size: 16px;
  }
  label{
    font-weight: bold;
  }
}
.show-page-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}


.edit-form-textarea textarea{
  resize: none;
}